@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm/style.css');
body {
  margin: 0;
  font-family: 'NeoDunggeunmo',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #05037B;
	color: white;
}
button, a, li{
  all: unset;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}
.row-container{
	display: flex;
	flex-direction: row;
  align-items: center;
}
.col-container{
	display: flex;
	flex-direction: column;
}
.center-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	justify-content: center;
	padding: 50px 0px;
}
.bg-img-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('/public/img/bg_jet.png');
	background-size: 150px;
	background-repeat: no-repeat;
  background-position: 50px 300px;
	min-height: 100vh;
}
.white-border-container{
  margin: 20px;
  border: solid 5px white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.border-container{
  padding: 25px;
  border: solid 5px white;
}
.bg-container{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #00000050;
	top: 0;
	left: 0;
	z-index: 1;
}
.border-btn{
	padding: 10px 20px;
}
.solid-blue-btn{
	padding: 10px 20px;
	background-color: #36C6BD;
}
.solid-green-btn{
	padding: 10px 20px;
	background-color: #2BC94D;
}
.blue-btn{
	background-color: transparent;
	border: solid 5px #36C6BD;
}
.green-btn{
	background-color: transparent;
	border: solid 5px #2BC94D;
}
input{
  all: unset;
}
.qnaInput{
	all: unset;
}