.login .btn-wrapper{
	font-size: x-large;
	gap: 20px;
	color: white;
	justify-content: flex-end;
	padding: 30px 0;
}
#kakao-btn{
	background-color: transparent;
	border: solid 5px #F5DE0E;
	font-size: xx-large;
}
.login .logo-wrapper{
	width: 90%;
	display: flex;
	align-items: center;
	margin-top: 50%;
}
.login > img{
	padding: 100px 0;
}
.login .sub-logo{
	width: 90%;
	margin-bottom: 20px;
}