/*.main{
	background-image: url('/public/img/bg_jet.png'),linear-gradient(#05037B, #060532);
	background-size: 150px, 100%;
	background-repeat: no-repeat;
  	background-position: 50px 300px, 0;
}
.sub-logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 70%;
	justify-content: flex-end
}
.btn-wrapper{
	font-size: x-large;
	gap: 20px;
	color: white;
	margin-top: 20px;
}
.text-wrapper{
	color: #F5DE0E;
	justify-content: center;
	line-height: 1.5;
}
.main .text-wrapper{
	 padding: 15vh 0; 
} 
.main #logo{
	 margin-top: 100px; 
	margin-bottom: 20px;
}
.text-center-wrapper{
	text-align: center;
	line-height: 2;
}
.main button{
	width: 50vw;
	text-align: center;
}
.main .logo-wrapper{
	width: 100%;
	align-items: center;
	height: 80vh;
}*/