.mypage{
    width:100%;
}
.myPageTitle{
    border-bottom: solid 3px white;
	width: 90%;
	text-align: center;
}
.myPageTitle div{
    font-size: 36px;
    margin-top: 19px;
    margin-bottom: 12px;
}
.myPageMap{
    width: 90%;
}
.renderWills{
    border-bottom: solid 3px white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.willsFormTitle{
   
    display: inline-block;
    color: #F5DE0E;
    font-size: 20px;
   
}
.willsFormBtn{
    float: right;
    color: #F5DE0E;
}
.myPageBlueBtn{
    font-size: 36px;
    padding: 12px 40px;
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
}
.noticeText{
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
    text-align: center;
}
.noticeText1{
    color: #f5de0e;
    font-size: 18px;
}
.noticeText2{
    color: white;
    size: 12px;
}