.writewillBox{
    margin-top: 46px;
    width: 90%;
    height: 430px;
}
.writewillTitle{
    font-size: 18px;
    margin-bottom: 22px;
}
.writewill-wrapper{
    border-top: solid 5px white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.writevoiceBox{
    width: 90%;
    height: 270px;
}
.writevoiceTitleBox{
   justify-content: center;
}
.writevoiceTitle{
    color: #36C6BD;
    font-size: 18px;
}
.writevoice-wrapper{
    border-top: solid 3px white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.writeBlueBtn{
    font-size: 36px;
    padding: 12px 40px;
}
